/* css for list of news */
.cic-publishment {
	padding-left: 22px;		/* padding 20px + square 2px */
	padding-right: 114px;	/* 114 = 160 - 46 */
}

.publishment-head {
	padding-bottom: 20px;
}

.publishment-head > span.cic-square {
	margin-left: -25px;
	margin-right: 15px;
}

.publishment-head > a {
	color: black; 
	font-size: 14px;
	font-family: "Microsoft YaHei",微软雅黑,"Microsoft JhengHei",华文细黑,STHeiti,sans-serif;
}

.publishment-head > span.publishment-meta {
	display: inline-block;
	float: right;
	color: #c9273a;
	font-size: 11px;
}


.publishment-content {
	font-size: 12px;
	font-family: STSong, SimSun, 宋体, NSimSun, sans-serif;
}

.cic-publishment > hr.featurette-divider {
	margin-top: 23px;
	margin-bottom: 35px;
}