
/* overall */
html {
	min-height: 100%;
}

body {
	height: 100%;
	padding-bottom: 0px;
}

a:active {
	text-decoration: none;
	color: initial;
}

a,
a:hover {
	/*color: #ffffff;*/
	text-decoration: none;
}

.cic-container {
	min-height: 100%;
	width: 100%;
	margin: 0px;
	padding: 0px;
	border: 0px;
}




/* branding and logo */
.cic-branding {
	height: 90px;
	background-image: url(/static/asset/img/branding.png);
	background-size: cover;
}

.cic-branding #cic-logo {
	margin-top: 10px;
	width: 60px; 
	height: 60px;
}

 /* TODO: response */
.cic-branding #cic-sitename {
	height: 50px;
	margin-top: 24px;
	padding-left: 22px;
}


/* navigation */

.cic-navigation {
	height: 30px;
	background-color: #5a5a5a;
}

.cic-navbar {
	border: 0px;
}

.cic-nav {
	border: 0px;
	padding-left: 0;
	margin-bottom: 0;
 	list-style: none;
}

.cic-nav > li {
	position: relative;
	display: inline-block;
	width: 100px;
	height: inherit;
}

.cic-nav > li > a {
	position: relative;
	display: block;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
	font-size: 14px;
	font-family: "Microsoft YaHei",微软雅黑,"Microsoft JhengHei",华文细黑,STHeiti,sans-serif;
	color: #ffffff;
}

.cic-nav > li > a:hover,
.cic-nav > li > a:focus,
.cic-nav > .active > a {
	text-decoration: none;
	background-color: #c9273a;
}

.cic-navbar-pop {
	display: none;
	min-width: 150px;
	border-top: 0px;
	margin-top: 0px;
	border-radius: 0px;
	background-color: #c9273a;
}

.cic-navbar-item:hover .cic-navbar-pop {
	display: block;
}

.cic-navbar-pop > li > a {
	text-align: center;
	color: #ffffff;
	font-size: 12px;
	font-family: STSong,SimSun,宋体,NSimSun,sans-serif;
}


/* body base class */

.cic-body {
	background-image: url(/static/asset/img/background.png);
	background-size: cover;
}


/* breadcrumb */



/* main in common */

.cic-main {
	padding-top: 55px;
	padding-bottom: 40px;
}


.cic-block {
	margin: 10px -5px 10px -5px;	/* padding between col is 15px */
	border: 1px;
	padding: 10px 15px 30px 15px;
	border-radius: 10px;
	background-color: #ffffff;
}

/* no paddings to make up */
.row > .cic-block {
	margin-left: 10px;	
	margin-right: 10px;
}

.cic-block > .cic-block-title {
	display: inline-block;
	padding-top: 5px;
	padding-bottom: 10px;
	color: #e60012;
}

.cic-block-title > span.block-title-main {
	font-size: 16px;
	font-family: "Microsoft YaHei",微软雅黑,"Microsoft JhengHei",华文细黑,STHeiti,sans-serif;
}

.cic-block-title > span.block-title-abbr {
	display: inline-block;
	padding-left: 5px;
	font-size: 12px;
	font-family: Georgia, "Times New Roman", Times, serif;;
}


/* Carousel base class */

.carousel {
	height: 478px;
	margin-bottom: 0px;
}

/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

.carousel-caption > p > a {
	font-size: 18px;
	font-family: STSong,SimSun,宋体,NSimSun,sans-serif;
	color: #ffffff;
}

.carousel-caption > p > a:hover {
	text-decoration: none;
}


/* Declare heights because of positioning of img element */
.carousel .item {
  height: 478px;
  background-color: #777;
}

.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
}


/* News list */

.cic-block.cic-block-trend {
	/*height: 555px;*/
	overflow: auto;
}


.cic-trend {
	border-left: 5px;
}

.cic-trend-item {
	border-radius: 0px;
	border-left: 0px;
	border-right: 0px;
	border-color: #c9273a; 
	padding-top: 25px;
}

/* override bootstrap */
.list-group-item:first-child {
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
} 

.list-group-item:last-child {
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
} 

.trend-meta {
	display: block;
	margin-right: 0px;
	font-family: cursive;
	text-align: left;
	font-size: 14px;
}

.cic-rectangle {
	display: inline-block;
	height: 10px;
	width: 6px;
	background-color: #c9273a;
}

.trend-meta > span.cic-rectangle {
	height: 14px;
}

.trend-title {
	font-size: 16px;
}

.trend-content {
	display: none;
}

.cic-trend-item.active, 
.cic-trend-item.active:hover,
.cic-trend-item.active:focus {
	border-color: #c9273a;
	background-color: #c9273a;
}

.cic-trend-item.active > .list-group-item-text,
.cic-trend-item.active:hover > .list-group-item-text
 {
	color: #ffffff;
}

.cic-trend-item.active > .trend-meta > span.cic-rectangle,
.cic-trend-item.active:hover > .trend-meta > span.cic-rectangle {
	background-color: #ffffff;
}


/*.cic-trend-item:hover > .trend-content,*/
.cic-trend-item.active > .trend-content {
	display: block;
}


/* Quick-links */

.cic-quick-link {
	height: 60px;
	width: 100%;
	display: inline-block;
 }

.link-icons {
	height: 80px;
	width: 80px;
}

.cic-quick-link > div.link-text {
	display: inline-block;
	width: 70%;
	vertical-align: middle;
	text-align: center;
}

.link-text > span.link-name {
	display: block;
	font-size: 17px;
	font-family: STSong, SimSun, 宋体, NSimSun, sans-serif;
}

.link-text > span.link-desc {
	display: block;
	font-size: 7px;
	font-family: cursive;
}

#cic-link-1 span {
	color: #b89f31;
}

#cic-link-2 span {
	color: #9ace5b;
}

#cic-link-3 span {
	color: #13a38d;
}


/* news archive */
.archive-container .cic-block {
	height: 203px;
}

.archive-list {
	-webkit-padding-start: 25px;
}

.archive-list a.archive-name{
	font-size: 13px;
	font-family: NSimSun, STSong, SimSun, 宋体, sans-serif;
	color: #727171
}

.archive-list span.archive-date {
	float: right;
	margin-right: 20px;
	font-size: 13px;
	font-family: STSong, SimSun, 宋体, NSimSun, sans-serif;
	color: #c9273a;
}

/* friendly links */
.cic-friendly-links {
	display: none;
	max-height: 65px;
	overflow: hidden;
}

.cic-friendly-links a:hover {
	color: #c9273a;
}

.cic-links > span.vertical-sep {
	color: #c9273a;
}

.cic-more > span.vertical-sep {
	display: inline-block;
	height: 40px;
	width: 2px;
	background-color: #c9273a;
}

.cic-friendly-links a {
	color: #595757;
}


/* footer */

footer > .cic-footer {
	height: 100px;
	color: #c9caca;
	text-align: center;
	font-family: "Microsoft YaHei",微软雅黑,"Microsoft JhengHei",华文细黑,STHeiti,sans-serif;
	background-color: #5a5a5a;
}

.cic-footer  > .cic-trivial-info {
	display: inline-block;
	margin-top: 25px;
	/*margin-bottom: 3px;*/
	font-size: 10px;
}

.cic-footer  > .cic-important-info {
	display: block;
	/*margin-top: 3px;*/
	margin-bottom: 34px;
	font-size: 12px;
}

/* Featurettes
------------------------- */

.featurette-divider {
	border-color: #c9273a;
 	margin: 0px 0px 18px 0px; /* Space out the Bootstrap <hr> more */
}

.cic-square {
	display: inline-block;
	height: 5px;
	width: 5px;
	vertical-align: middle;
	background-color: #c9273a;
}

