
/* branding and logo */
.cic-branding {
	height: 120px;
}

.cic-branding #cic-logo {
	margin-top: 10px;
	width: 100px; 
	height: 100px;
}

.cic-branding #cic-site-name {
	display: block;
	margin-top: 34px;
	padding-left: 25px;
	font-family: sans-serif, "Times New Roman", Times, serif;
	font-size: 36px;
	font-weight: 500;
	line-height: 1.1;
}



#cic-container {
	width: 90%;
	margin: auto;
}

/* Navigation */

ul.nav li.dropdown:hover ul.dropdown-menu{ 
	display: block;
	/*min-width: 80px;*/
}

#cic-navbar {
  font-family: serif, Georgia, "Times New Roman", Times;
}

#cic-navbar-brand {
	margin-top: 5px;
	margin-left: 30px;
	margin-right: 30px;
}

.navbar-nav > li {
	text-align: center;
	font-size: large;
	/*width: 15%;*/
	margin: 5px 15px;
}


.cic-trend {
	border-left: 5px;
}

#cic-trend-title {
	margin-top: 5px;
	margin-bottom: 20px;
}

.trend-meta {
	display: block;
	margin-right: 0px;
	font-family: cursive;
	text-align: left;
}


/* Quick-links */
.quick-link {
	text-align: center;
}

.link-icons {
	height: 100px;
	width: 100px;
}


.publishment-container{
	width: 96%;
}


/* news archive */

div .archive-container {
	height: 300px;
}

.archive-list {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 17px;
}

.archive-date {
	float: right;
	margin-right: 30px;
}

/* Featurettes
------------------------- */

.featurette-divider {
  margin: 30px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}
