{% extends "pages/base.html" %}
{% load i18n admin_static %}

{% block title %} {{ title }} | {{ site_title|default:_('少数民族事业发展协同创新中心') }}{% endblock %}

{% block extrastyle %}
<link href="{% static "css/carousel.css" %}" rel="stylesheet">
{% endblock %}

{% block branding %}
		<div class="col-xs-1 col-md-1 col-lg-1 col-xs-offset-2 col-md-offset-2 col-lg-offset-2">
			<img class="image-circle" id="cic-logo" src="{% static "asset/img/logo.png" %}"> 
		</div>
		<div class="col-xs-8 col-md-6 col-lg-6">
      <img id='cic-sitename' src="{% static "asset/img/sitename.png" %}">
    </div>
{% endblock %}

{% block navigation %}
 <!-- <div class="navbar-wrapper"> -->
    <nav class="navbar cic-navbar">
      <div class="container-fluid">
        {% block navbar %}
            {% include "pages/navbar.html" with categories=navigation only %}
        {% endblock %}
      </div>
    </nav>
<!-- </div> -->

{% endblock %}


{% block footer %}
    <div class="cic-trivial-info">
      <span id="cic-dial">联系电话：010-6893 2290</span>&nbsp;&nbsp;
      <span id="cic-mail">电子邮箱：zymdxccx@163.com</span>
    </div>
    <div class="cic-important-info">
      <span id="cic-copyright">中央民族大学 &copy; 2016 &middot; 海淀区中关村南大街27号 &middot; 100081</span>
    </div>
{% endblock %}

