{% extends "pages/base.html" %}
{% load i18n admin_static %}

{% block title %} {{ title }} | {{ site_title|default:_('少数民族事业发展协同创新中心') }}{% endblock %}

{% block extrastyle %}
<link href="{% static "css/carousel.css" %}" rel="stylesheet">
{% endblock %}

{% block branding %}
		<div class="col-md-1 col-lg-1">
			<img class="image-circle" id="cic-logo" src="{% static "asset/img/logo.jpeg" %}"> 
		</div>
		<div class="col-md-6 col-lg-6">
			<h1 id="cic-site-name"><span>少数民族事业发展协同创新中心</span></h1>
		</div>
		<div class="col-md-2 col-md-offset-3">
			<!-- <span id="search-form">search</span> -->
		</div>
{% endblock %}

{% block navigation %}
 <!-- <div class="navbar-wrapper"> -->
    <nav class="navbar navbar-inverse navbar-static-top">
      <div class="container">
        <div id="navbar" class="navbar-collapse collapse">
        {% block navbar %}
            {% include "pages/navbar.html" with categories=categories only %}
        {% endblock %}
        </div>
      </div>
    </nav>
<!-- </div> -->

{% endblock %}


{% block footer %}
      <footer>
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>&copy; 2014 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
      </footer>
{% endblock %}

