{% extends "pages/base_site.html" %}
{% load staticfiles %}

{% block extrastyle %}{{ block.super }}
<link href="{% static "css/callboard.css" %}" rel="stylesheet">
{% endblock %}

{% block main %}
	<div class="cic-callboard">
		<div class="callboard-head">
			<span class="callboard-head-title">{{ category.name }}</span>
			<div class="callboard-tabs">
				{% block callboard-tabs %}
				{% endblock %}
			</div>
		</div>

		<div class="callboard-body">
			{% block callboard-body %}
			{% endblock %}
		</div>

		<div class="callboard-footer">
			{% block callboard-footer %}
			{% endblock %}
		</div>

	</div>	<!-- /.cic-callboard -->
{% endblock %}