{% load static %}
{% get_media_prefix as MEDIA_PREFIX %}
<div class="cic-block-title" >
  <span class="block-title-main">中心风采</span>
  <span class="block-title-abbr">News Pictures</span>
</div>
<div id="cic-carousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        {% for carousel in carousels %}
          <li data-target="#cic-carousel" data-slide-to="{{ forloop.counter0 }}" {% if forloop.first %} class="active"{% endif %}></li>
        {% endfor %}
      </ol>
      <div class="carousel-inner" role="listbox">
        {% for carousel in carousels %}
        <div class="item {% if forloop.first %} active{% endif %}">
          <img class="slides" src="{{ MEDIA_PREFIX }}{{ carousel.image }}" alt="{{ carousel.publishment.article.title }}">
          <div class="container">
            <div class="carousel-caption">
              <p><a href="{{ carousel.publishment.get_url }}">{{ carousel.desc }}</a></p>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
      <a class="left carousel-control" href="#cic-carousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">上一张</span>
      </a>
      <a class="right carousel-control" href="#cic-carousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">下一张</span>
      </a>
</div><!-- /.carousel -->
