{% extends "pages/callboard.html" %}
{% load staticfiles %}

{% block extrastyle %}{{ block.super }}
<link href="{% static "css/content.css" %}" rel="stylesheet">
{% endblock %}

{% block callboard-title %}{{ publishment.category }}{% endblock %}

{% block callboard-tabs %}
	{% for subcategory in subcategories %}
		<a href="{{ subcategory.get_url }}">
			<span id="callboard-tab-{{ subcategory.abbr }}" class="callboard-tab {% if subcategory == category %} active {% endif %}">{{ subcategory.name }}</span>
		</a>
	{% endfor %}
{% endblock %}

{% block callboard-body %}
	<div class="cic-post">
		<div class="post-title">{{ publishment.article.title }}</div>
		<div class="post-meta">
			<span id="post-meta-date">发布日期：{{ publishment.pub_date | date:"Y/m/d" }}</span>
			<span id="post-meta-author">发布人：{% if publishment.publisher %} {{ publishment.publisher.username }} {% else %}佚名 {% endif %}</span>
		</div>

		<div class="post-body">
			{% autoescape off %}
				{{ publishment.article.content }}
			{% endautoescape %}
		</div>

		{% block attachment %}
			{% if attachments %}
			<div class="post-attachment">
				<p class="atachment-meta">附件下载：</p>
				<ol>
				{% for attachment in attachments %}
					<li><a id="post-attachment-{{ forloop.counter }}" href="{{ attachment.file.url }}">{{ attachment.desc }} </a> - {{ attachment.date_uploaded | date:"Y/m/d"}}</li>
				{% endfor %}
			</ol>
			</div>
			{% endif %}
		{% endblock %}
	</div>
{% endblock %}

{% block callboard-footer %}
	<span class="post-prev">上一篇</span>
	<span class="post-next">下一篇</span>
{% endblock %}