<div class="cic-block cic-friendly-links">
    <div class="col-md-7 cic-links">
      {% for link in links %}
      	{% if not forloop.first %}<span class="vertical-sep">&nbsp;|&nbsp;</span>{% endif %}<a href="{{ link.link }}">{{ link.name }}</a>
      {% endfor %}
    </div>
    <div class="col-md-5 cic-more">
      <div>
      	<span class="vertical-sep"></span>
      </div>
      <div class="more-links">
      	<span class="cic-square"></span>
      	<span>&nbsp;更多友情链接</span>
      	<select name="more-friendly-links" onchange="window.location.href=options[selectedIndex].value" >
      		<option value="/" selected>------------</option>
      		{% for link in more %}
      			<option value="{{ link.link }}">{{ link.name }}</option>
      		{% endfor %}
      	</select>
      </div>
    </div>
</div>