{% extends "pages/base_site.html" %}
{% load i18n admin_static %}

{% block title %}少数名族事业发展协同创新中心{% endblock %}

{% block main %}

  <div class="row">
    {% block primary %}
      <div class="col-md-9">
        {% include "pages/carousel.html"%}
      </div>
      <div class="col-md-3">
        news are here
      </div>
    {% endblock %}
  </div>

  <div class="row">
    {% block quick-links %}
      {% for link in links %}
        {% include "pages/quick_link.html" with name=link %}
      {% endfor %}
    {% endblock %}
  </div>

  {% block news-list %}
    {% for news in news_list %}
      <hr class="featurette-divider">
      <div class="row featurette">
        {% include "pages/news_list.html" %}
      </div>
    {% endfor %}
      <hr class="featurette-divider">

  {% endblock %}
{% endblock %}
