{% extends "pages/base_site.html" %}
{% load i18n admin_static %}

{% block title %}少数民族事业发展协同创新中心{% endblock %}

{% block main %}

  <div class="row">
    {% block primary %}
      <div class="col-md-7 col-lg-8">
        <div class="cic-block">
          {% include "pages/carousel.html" with carousels=carousels only %}
        </div>
      </div>
      <div class="col-md-5 col-lg-4">
        <div class="cic-block cic-block-trend">
          {% include "pages/news_list.html" with news_list=news_list only %}
        </div>
      </div>
    {% endblock %}
  </div>

  <div class="row">
    {% block quick-links %}
      {% for link in links %}
        {% include "pages/quick_link.html" with name=link %}
      {% endfor %}
    {% endblock %}
  </div>

  {% block news-archive %}
    {% for news_archive in news_archives %}
      <hr class="featurette-divider">
      <div class="row archive-container">
        {% include "pages/news_archives.html" with news_archive=news_archive only %}
      </div>
    {% endfor %}
  {% endblock %}
{% endblock %}
