{% extends "pages/base_site.html" %}
{% load staticfiles %}

{% block extrastyle %}{{ block.super }}
<link href="{% static "css/blog.css" %}" rel="stylesheet">
{% endblock %}

{% block main %}
<div class="container">
	{% block postlist %}

      <div class="blog-header">
        <h4 class="blog-title">{{ category.name }}</h4>
        <p class="lead blog-description">{{ category.desc }}</p>
      </div>

      <div class="row">
        <div class="col-sm-8 col-md-8 blog-main">
      	{% for publishment in publishments %}
      	  <hr class="featurette-divider">
          <div class="blog-post">
            <h3 class="blog-post-title"><a href="{{ publishment.get_url }}">{{ publishment.article.title }}</a></h3>
            <p class="blog-post-meta">{{ publishment.pub_date | date:"Y/m/d" }}&emsp;  {% if publishment.publisher %} {{ publishment.publisher.username }} {% endif %} </p>
			<div class="blog-post-body">
				{{ publishment.article.content | striptags | cut:' ' | safe | truncatechars:200 }}
			</div>
           </div>	<!-- /.blog-post -->
        {% endfor %}
			<nav>
	            <ul class="pager">	
	            {% if not pagination.prev %}
	          	  <li class="disabled"><a href="#"> 
	          	{% else %}
	          	  <li><a href="{{ category.get_url }}?page={{ pagination.prev }}"> 
	          	{% endif %}上一页</a></li>

	          	{% if not pagination.next %}
	          	  <li class="disabled"><a href="#"> 
	          	{% else %}
	          	  <li><a href="{{ category.get_url }}?page={{ pagination.next }}"> 
	          	{% endif %}下一页</a></li>
	            </ul>
	        </nav>

        </div><!-- /.blog-main -->
       {% endblock %}

		<div class="col-sm-3 col-sm-offset-1 col-md-3 col-md-offset-1 blog-sidebar">
          <div class="sidebar-module">
            <h4>同类栏目</h4>
            <ol class="list-unstyled">
            	{% for category in related %}
            		<li><a href="{{ category.get_url }}">{{ category.name }}</a></li>
            	{% endfor %}
            </ol>
          </div>
          <div class="sidebar-module">
            <h4>友情链接</h4>
            <ol class="list-unstyled">
        	{% for friend in friendly_links %}
              <li><a href="{{ friend.link }}">{{ friend.name }}</a></li>
            {% endfor %}
            </ol>
          </div>
        </div><!-- /.blog-sidebar -->

      </div><!-- /.row -->

    </div><!-- /.container -->
{% endblock %}