{% extends "pages/callboard.html" %}
{% load staticfiles %}

{% block extrastyle %}{{ block.super }}
<link href="{% static "css/list.css" %}" rel="stylesheet">
{% endblock %}

{% block callboard-tabs %}
	{% for subcategory in subcategories %}
		<a href="{{ subcategory.get_url }}">
			<span id="callboard-tab-{{ subcategory.abbr }}" class="callboard-tab {% if subcategory == category %} active {% endif %}">{{ subcategory.name }}</span>
		</a>
	{% endfor %}
{% endblock %}

{% block callboard-body %}
	{% for publishment in publishments %}
		<div class="cic-publishment" id="cic-publishment-{{ publishment.id }}">
			<div class="publishment-head">
				<span class="cic-square"></span>
				<a href="{{ publishment.get_url }}" class="publishment-title">{{ publishment.article.title }}</a>
				<span class="publishment-meta">
					{{ publishment.pub_date | date:"Y-m-d" }}
				</span>
			</div>
			<div class="publishment-content">
				{{ publishment.article.content | striptags | cut:' ' | safe | truncatechars:200 }}
			</div>
			<hr class="featurette-divider">
		</div>
	{% endfor %}
{% endblock %}

{% block callboard-footer %}

{% endblock %}