{% load staticfiles %}
<div class="col-md-7">
  <h2 class="archive-heading" id="archive-{{ news_archive.category.abbr }}">{{ news_archive.category }}</h2>
  <ul class="archive-list">
  	{% for pub in news_archive.publishments %}
	  <li id="news-archive-{{ forloop.counter }}">
	  	<a href="{{ pub.get_url }}" class="archive-name">{{ pub.article }} </a> 
	  	<span class="archive-date">{{ pub.pub_date | date:"Y/m/d" }}</span>
	  </li>
	{% endfor %}
	</ul>
</div>
<div class="col-md-5">
  <img class="featurette-image img-thumbnail center-block" src="{% static news_archive.cover %}" alt="cover">
</div>
