<div class="col-md-6">
	<div class="cic-block">
	  <div class="cic-block-title" id="archive-{{ news_archive.category.abbr }}">
  		<span class="block-title-main">{{ news_archive.category }}</span>
  		<span class="block-title-abbr">{{ news_archive.category.desc }}</span>
	  </div>
	  <hr class="featurette-divider">
	  <ul class="archive-list">
	  	{% for pub in news_archive.publishments %}
		  <li id="news-archive-{{ forloop.counter }}">
		  	<a href="{{ pub.get_url }}" class="archive-name">{{ pub.article }} </a> 
		  	<span class="archive-date">{{ pub.pub_date | date:"Y/m/d" }}</span>
		  </li>
		{% endfor %}
		</ul>
	</div>
</div>
