{% load staticfiles %}
<div class="col-md-7">
  <h2 class="featurette-heading">{{ news_archive.category }}<span class="text-muted">{{ news_archive.category.desc }}</span></h2>
  <ul>
  	{% for pub in news_archive.publishments %}
	  <li><a href="{{ pub.get_url }}" class="lead">{{ pub.article }} </a> - {{ pub.pub_date | date:"Y/m/d" }}</li>
	{% endfor %}
	</ul>
</div>
<div class="col-md-5">
  <img class="featurette-image img-thumbnail center-block" src="{% static news_archive.cover %}" alt="cover">
</div>
