{% load staticfiles %}
<div class="col-lg-4">
	<div class="cic-block">
		  <a href="{{ link.link }}">
		  	<div class="cic-quick-link" id="cic-link-{{ forloop.counter }}">
		  	<img class="img-circle link-icons" id="link-icon-{{ forloop.counter }}" src="{% static link.icon %}" alt="{{ link.name }}">
			  <div class="link-text">
				  <span class="link-name">{{ link.name }}</span>
			 	  {% if link.desc %}
				  	<span class="link-desc">{{ link.desc }}</span>
				  {% endif %}	
			  </div>
			 </div>
		  </a>
	</div>
</div><!-- /.col-lg-4 -->